@charset "UTF-8";

.inputCol {
  width: 98%;
  padding-left: 20px;
}
.editableTable {
  .celleditor {
    &:hover .celleditorTrigger {
      display: inline-block !important;
    }
  }
}
.celleditorTrigger {
  display: none !important;
}

.cellInput{
  width: calc(100% - 44px);
}
.operationIcon{
  margin-left: 10px;
  color: #999;
  cursor: pointer;
}
.hb{
  margin-left: 10px;
  color: #999;
  cursor: pointer;
  display: none;
}
.addNewItem{
  background: #f5f5f5;
  height: 32px;
  line-height: 32px;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
}
